* {
    background-color: rgb(25, 25, 25);
}

.header {
    background-color: rgb(255, 217, 0);
    font-size: 50px;
    text-align: center;
    margin: auto;
    padding: 10PX;
}

a:link, a:visited, .list, .content {
    color: rgb(255, 195, 0);
    text-decoration: none;
    font-size: 20px;
    margin: 20px 10px;
}

a:hover {
    color: rgb(255, 150, 0);
}

.list {
    
}

.note {
    color: dimgray;
    margin: auto;
    padding: 10px;
    position: fixed;
    bottom: 10px;
}

.img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;

}

.button {
    font-size: 15px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(255, 217, 0);
}